html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
}

code {
    font-weight: 700;
    background-color: #aaaaaa;
    padding: .1rem;
}

.example {
    display: inline-block;
    min-width: 300px;
    border: 4px solid #000000;
    background-color: #eeeeee;
    padding: 1rem;
}

.box {
    display: inline-block;
    height: 10rem;
    width: 10rem;
    border: 8px solid #000000;
    background-color: #ffffff;
    transition: background-color, border-color, 0.5s linear;
}

.box--red {
    border: 8px solid #a30000;
    background-color: #ff5757;
}

.box--red:hover {
    border-color: #a36f00;
    background-color: #ffca57;
}

.box--green {
    border: 8px solid #008106;
    background-color: #27c86a;
}

.box--green:hover {
    border-color: #3e00a3;
    background-color: #8457ff;
}

.box--blue {
    border: 8px solid #001881;
    background-color: #4293fb;
}

.box--blue:hover {
    border-color: #c2b500;
    background-color: #f8ff94;
}